<app-barra-nav></app-barra-nav>

<div class="alert alert-success" id="alerta">El archivo se ha subido correctamente.</div>
<div class="alert alert-danger" id="alerta2">No se ha seleccionado ningún archivo PDF.</div>

<div class="m-4">
    <button class="btn regresar" routerLink="/lista-usuarios">
        <div class="d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-left me-2" viewBox="0 0 16 16">
                <path fill-rule="evenodd" d="M15 8a.5.5 0 0 0-.5-.5H2.707l3.147-3.146a.5.5 0 1 0-.708-.708l-4 4a.5.5 0 0 0 0 .708l4 4a.5.5 0 0 0 .708-.708L2.707 8.5H14.5A.5.5 0 0 0 15 8"/>
            </svg>
            <p class="m-0">Regresar al listado</p>
        </div>
    </button>
</div>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="alert alert-info">
                Por favor, seleccione o arrastre y suelte el documento PDF en la zona indicada. Luego, confirme la carga con el botón "Subir PDF". Una vez hecho esto, el documento se guardará automáticamente y se asociará al perfil del empleado correspondiente.
            </div>
            <div class="card">
                <div class="card-title titulo">Carga de documentos PDF</div>
                <div class="card-body">
                    <div class="card tarjeta" (drop)="onFileDropped($event)" (dragover)="onDragOver($event)">
                        <div class="card-body">
                            <div>
                                <label for="inputGroupFile01" class="d-flex justify-content-center clase">
                                    <img src="/assets/imagenes/cloud.png" alt="Icono Flecha Arriba" class="imagen">
                                </label>
                                <input type="file" class="custom-file-input" id="inputGroupFile01" aria-describedby="inputGroupFileAddon01" accept=".pdf" style="display: none;" (change)="onFileSelected($event)">
                            </div> 
                            <div class="d-flex justify-content-center">
                                <label class="custom-file-label text-center clase m-0" for="inputGroupFile01" id="fileNameLabel">Arrastra y suelta el archivo o haz clic aquí para seleccionarlo</label>
                            </div>   
                        </div>
                    </div> 
                </div>
                <div class="d-flex justify-content-center">
                    <p *ngIf="cargando" class="text-info mx-3">Subiendo..</p>
                </div> 
                <div class="d-flex justify-content-center">
                    <button class="btn btn1 mt-0 mb-3" type="button" (click)="uploadPDF()">Subir PDF</button>
                </div> 
            </div>
        </div>
    </div>
</div>









  
  
  
  

  

  
  


