<app-barra-nav></app-barra-nav>
<!-- <div>
    <div class="enlaces-dashboard">
      <a routerLink="/lista-usuarios">Registro de empleados</a>
      <a routerLink="/crear-usuario">Registrar empleado nuevo</a>
      <a routerLink="/salarios">Gestión de sueldos</a>
      <a routerLink="/calculadoraISR">Calculadora de ISR</a>
    </div>
</div>
   -->

   <div class="container-fluid mt-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-4">
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Registro de empleados</h5>
            <p class="card-text">Administra la lista de empleados registrados.</p>
            <a routerLink="/lista-usuarios" class="btn btn-css btn-primary stretched-link">Ir al registro</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Registrar empleado nuevo</h5>
            <p class="card-text">Agrega un nuevo empleado al sistema.</p>
            <a routerLink="/crear-usuario" class="btn btn-css btn-primary stretched-link">Registrar empleado</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Gestión de sueldos</h5>
            <p class="card-text">Administra los sueldos y salarios.</p>
            <a routerLink="/salarios" class="btn btn-css btn-primary stretched-link">Gestionar sueldos</a>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card h-100 text-center">
          <div class="card-body">
            <h5 class="card-title">Calculadora de ISR</h5>
            <p class="card-text">Calcula el Impuesto Sobre la Renta.</p>
            <a routerLink="/calculadoraISR" class="btn btn-css btn-primary stretched-link">Ir a calculadora</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  