<app-barra-nav></app-barra-nav>

<div class="container p-4">
  <div class="row">

    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Registro de empleados</h5>
          <p class="card-text">Administra la lista de empleados registrados.</p>
          <a href="/lista-usuarios" class="btn boton">Ir al registro</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Registrar empleado nuevo</h5>
          <p class="card-text">Agrega un nuevo empleado al sistema.</p>
          <a href="/crear-usuario" class="btn boton">Registrar empleado</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Gestión de sueldos</h5>
          <p class="card-text">Administra los sueldos y salarios.</p>
          <a href="/salarios" class="btn boton">Gestionar sueldos</a>
        </div>
      </div>
    </div>

    <div class="col-md-3 mb-4">
      <div class="card">
        <div class="card-body text-center">
          <h5 class="card-title">Calculadora de ISR</h5>
          <p class="card-text">Calcula el Impuesto Sobre la Renta.</p>
          <a href="#" class="btn boton">Ir a calculadora</a>
        </div>
      </div>
    </div>

  </div>
</div>